<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My-spotify-Clone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link
      rel="shortcut icon"
      href="images/icons8-spotify-48.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css" />
    <script src="static/js/script.js" defer></script>
  </head>
  <body
    style="
      font-family: 'Poppins', sans-serif;
      background: linear-gradient(#131614, #000000);
      background-repeat: no-repeat;
    "
  >
    <div class="container-md">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"
            ><img src="static/images/icons8-spotify-48.png" alt=""
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" style="color: white; padding: 0em 1em" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: white; padding: 0em 1em" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: white; padding: 0em 1em" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <button class="btn nav-link">Dark</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="main">
        <div class="modal fade" id="songListModal" tabindex="-1" aria-labelledby="songListModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="songListModalLabel">Song List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <table class="table table-dark table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Title</th>
                      <th scope="col">Album</th>
                      <th scope="col">Date d'ajout</th>
                      <th scope="col">Durée</th>
                    </tr>
                  </thead>
                  <tbody id="songs-list">
                    <!-- Song rows will be added here by JavaScript -->
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <div class="audio-controls">
                  <!-- Shuffle icon -->
                  <i class="fas fa-random shuffle-icon" onclick="toggleShuffle()"></i>
                  
                  <!-- Step backward icon -->
                  <i class="fas fa-step-backward" onclick="previousSong()"></i>
                  
                  <!-- Play/Pause icon -->
                  <i class="far fa-play-circle" onclick="playPauseSong()"></i>
                  
                  <!-- Step forward icon -->
                  <i class="fas fa-step-forward" onclick="nextSong()"></i>
                  
                  <!-- Repeat icon (optional) -->
                  <i class="fas fa-redo" onclick="toggleRepeat()"></i>
                </div>
                
                <div class="audio-progress">
                  <input type="range" id="song-progress" value="0">
                </div>
                
                <div class="audio-timer">
                  <span id="current-time">0:00</span> / <span id="duration">3:53</span>
                </div>
                
                <div class="audio-volume">
                  <i class="fas fa-volume-down" onclick="lowerVolume()"></i>
                  <input type="range" id="volume-control" min="0" max="100">
                  <i class="fas fa-volume-up" onclick="increaseVolume()"></i>
                </div>
              </div>
              

              
            </div>
          </div>
        </div>
        
        <!-- Update to one of the cards to trigger the modal -->
        <div class="audio audio1 dark" id="card1" data-bs-toggle="modal" data-bs-target="#songListModal">
          <img src="static/images/img (1).png" alt="">
          <h2>Top 50 - India</h2>
          <p>Your daily update of the most played tracks right now - India.</p>
        </div>
        <div class="audio audio1 dark">
            <img src="static/images/img (2).png" alt="">
            <h2>Nija pearls</h2>
            <p>The finest set of Telugu music from the past 5 years. Cover : Pushpa</p>
        </div>
        <div class="audio audio1 dark">
            <img src="static/images/img (3).png" alt="">
            <h2>Today Top Hits</h2>
            <p>Chaand Baaliyan' and other popular Indie hits! Cover - Akanksha Sethi</p>
        </div>
        <div class="audio audio1 dark">
            <img src="static/images/img (4).png" alt="">
            <h2>Pop Favourites</h2>
            <p>Keep calm and focus with ambient and post-rock music.</p>
        </div>
        <div class="audio  dark">
            <img src="static/images/img (5).png" alt="">
            <h2>Top 50 - India</h2>
            <p>Your daily update of the most played tracks right now - India.</p>
        </div>
        <div class="audio audio1 dark">
            <img src="static/images/img (6).png" alt="">
            <h2>Top 50 - India</h2>
            <p>Your daily update of the most played tracks right now - India.</p>
        </div>
        <div class="audio  dark">
            <img src="static/images/img (7).png" alt="">
            <h2>Top 50 - India</h2>
            <p>Your daily update of the most played tracks right now - India.</p>
        </div>
        <div class="audio audio1 dark">
            <img src="static/images/img (8).png" alt="">
            <h2>Top 50 - India</h2>
            <p>Your daily update of the most played tracks right now - India.</p>
        </div>
        <div class="audio audio1 dark">
            <img src="static/images/img (9).png" alt="">
            <h2>Top 50 - India</h2>
            <p>Your daily update of the most played tracks right now - India.</p>
        </div>
        <div class="audio  dark">
            <img src="static/images/img (10).png" alt="">
            <h2>Top 50 - India</h2>
            <p>Your daily update of the most played tracks right now - India.</p>
        </div>
        <div class="audio audio1 dark">
            <img src="static/images/img (11).png" alt="">
            <h2>Top 50 - India</h2>
            <p>Your daily update of the most played tracks right now - India.</p>
        </div>
        <div class="audio    dark">
            <img src="static/images/img (12).png" alt="">
            <h2>Top 50 - India</h2>
            <p>Your daily update of the most played tracks right now - India.</p>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

  </body>
</html>
